In [1]:
import awswrangler as wr

In [2]:
wr.__version__

'0.1.4'

In [3]:
wr.glue.databases()

           Database                                   Description
0  awswrangler_test  AWS Data Wrangler Test Arena - Glue Database
1           default

In [4]:
wr.glue.tables()

,Database,Table,Description,Columns,Partitions
0,awswrangler_test,test2,,"col1, datecol",
1,awswrangler_test,test_move_objects_0,,"id, value","name, date"
2,awswrangler_test,test_table_with_dot,,"with_spaces, with_dash, accent, with_dot, came...",camel_case
3,default,new_table,,"dispatching_base_num, pickup_date, locationid,...",
4,default,taxis,,"dispatching_base_num, pickup_date, locationid,...",year
5,default,test,,"id, name, value, date",
6,default,test2,,"id, value, date",name
7,default,test3,,"id, name, value, date",
8,default,test4,,"id, value, date",name

In [5]:
wr.glue.table(database="awswrangler_test", name="test2")

  Column Name    Type  Partition Comment
0        col1  string      False
1     datecol    date      False